# Copyright 2018-2026 contributors to the OpenLineage project
# SPDX-License-Identifier: Apache-2.0

# Maven coordinates for the Spark publication.
MAVEN_GROUP_ID=ge.myorg
MAVEN_ARTIFACT_ID=openlineage-spark_2.12
MAVEN_POM_NAME=openlineage-spark_2.12
MAVEN_POM_DESCRIPTION=OpenLineage Spark integration

# Optional POM metadata overrides.
MAVEN_POM_URL=https://github.com/OpenLineage/OpenLineage
MAVEN_DEVELOPER_ID=openlineage
MAVEN_DEVELOPER_NAME=OpenLineage Project
MAVEN_LICENSE_NAME=The Apache License, Version 2.0
MAVEN_LICENSE_URL=http://www.apache.org/licenses/LICENSE-2.0.txt
MAVEN_SCM_CONNECTION=scm:git:git://github.com/OpenLineage/OpenLineage.git
MAVEN_SCM_DEVELOPER_CONNECTION=scm:git:ssh://github.com:OpenLineage/OpenLineage.git
MAVEN_SCM_URL=https://github.com/OpenLineage/OpenLineage

# JFrog Maven repository.
JFROG_REPOSITORY_NAME=jfrog
JFROG_MAVEN_URL=http://host.docker.internal:8082/artifactory/data
# Gradle requires this to be true when publishing to an http:// Maven repository.
# Omit it or set false when JFROG_MAVEN_URL uses https://.
JFROG_ALLOW_INSECURE_PROTOCOL=true
JFROG_USERNAME=<username>
JFROG_PASSWORD=<password-or-api-key>
# JFROG_TOKEN can be used instead of JFROG_PASSWORD.

# Optional Sonatype/Central release endpoints.
# SONATYPE_NEXUS_URL=<nexus-url>
# SONATYPE_SNAPSHOT_REPOSITORY_URL=<snapshot-repository-url>
# RELEASE_USERNAME=<username>
# RELEASE_PASSWORD=<password>
